
<div class="row">
  <% @books.each do |book| %>
   <div class="col-sm-6 col-lg-4">
        <div class="thumbnail">
            <%= link_to(book) do %>
            <%= image_tag book.avatar %>
            <% end %>
          <div class="caption">
            <h3><%= book.title %></h3>
            <p class="card-text"><%= truncate(book.description, length: 20) %></p>
            <%= link_to("View", book, class:'btn btn-primary') %>
            <%= link_to("Request", class:'btn btn-default') %>
          </div>
          </div> 
    </div>
      <% end %>
  </div>


