<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Scutisu</title>
=======
    <title>ScutIsu</title>
>>>>>>> db82be3a35b388dd33cfc3bd5d6c338bb52be5e6
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
=======
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
>>>>>>> db82be3a35b388dd33cfc3bd5d6c338bb52be5e6
    <%= yield %>
  </body>
</html>
